.navbar-header{
    padding: 0 64px;
}

body {
  font-family: 'Reddit Sans', sans-serif;
}


h1, h2, h3 {
  font-family: 'Reddit Sans', sans-serif;
  font-weight: 700; 
}

/* Hoặc cho đoạn văn bản thông thường */
p {
  font-family: 'Reddit Sans', sans-serif;
  font-weight: 400; /* Ví dụ: độ đậm 400 (regular) */
}
/* logo */
.nav-header .navbar-brand{
    margin-right: 3rem;
}

/* menu header */
.nav-header .nav-link {
    position: relative;
}
.nav-header .nav-link.active{
 color: #1A4173;
 font-weight: bold;
}
.nav-header .nav-link:hover {
  color: #1A4173;
}
.nav-header .nav-link.active::after {
  content: "";
  position: absolute;
  bottom: -12px; /* sát với border của nav-header */
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #1A4173;
}

.nav-header .dropdown-menu-header{
    width: 820px;
}
.nav-header .menu-header{
    white-space: unset;
    padding: 12px;
    border-radius: 6px;
    height: 90px;
}

.nav-header .menu-header .item p {
    font-size: 14px;
}
.nav-header .menu-header .item h4 {
    font-weight: bold;
    font-size: 16px;
}
.nav-header .nav-link.dropdown-toggle::after {
  display: none !important;
}

.nav-header .dropdown-arrow {
  display: inline-block;
  transition: transform 0.25s ease;
  transform-origin: center;
}

.nav-header .dropdown-icon-menu.show .dropdown-arrow {
  transform: rotate(180deg) !important;
}


/* tìm kiếm */
.form-search{
    justify-items: center;
    border: 1px solid #E4E4E7;
    border-radius: 6px;
    padding-bottom: 4px;
    padding-top: 4px;
    padding-right: 12px;
    padding-left: 12px;
}

.nav-header .form-control-header {
  border: none;           
  outline: none;     
  box-shadow: none;      
}

/* menu language */
.nav-header .language-dropdown button{
    padding-block: 9px;
   background-color: white;
   border: 1px solid #E4E4E7;
   border-radius: 6px;
}